body {
    background-color: rgb(13, 13, 13);
    background-image: url(/static/img/bg.jpg)
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    font-family: verdana;
    font-size: 20px;
}

.menu{
    color: white;
    text-align: center;
    font-size:30px;
}

a:link, a:visited, .menubutton{
    color: white;
    border-color:rgb(54, 169, 224);
    border-style:solid;
    border-width: thin;
    padding: 8px;
    text-align:center;
    text-decoration: none;
}

.menubutton:hover, .post:hover{
    background-color:rgb(54, 169, 224);
    transition-property: background-color;
    transition-duration: 0.35s;
    transition-timing-function: ease-in, ease-in;
}

.content{
    width:100%;
}

.post{
    border-color:rgb(54, 169, 224);
    border-style: solid;
    border-width:thin;
    padding: 8px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.imgpost{
    width: 500px;
    margin-right: 100%;
    border-color: rgb(54, 169, 224);
    border-style: solid;
    border-width: thin;
}