"""
Basic template with menu.
This template is extends with another templates
"""
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        {% if title %}
        <title>{{ title }} - ASGon</title>
        {% else %}
        <title>Welcome to ASGon</title>
        {% endif %}
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="logo">

        </div>
        <div class="menu">
            <a class="menubutton" href="{{ url_for('index') }}">Home</a>
             {% if current_user.is_anonymous %}
            <a class="menubutton" href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a class="menubutton" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a class="menubutton" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <a class="menubutton" href="{{ url_for('notfound') }}">Price List</a>
            <a class="menubutton" href="{{ url_for('notfound') }}">About Us</a>
            <a class="menubutton" href="{{ url_for('notfound') }}">Contacts</a>
            <a class="menubutton" href="{{ url_for('notfound') }}">Grounds</a>
        </div>
        {% block content %}{% endblock %}

    </body>
</html>